<h1><%= @cocktail.name %></h1>
<h3><u>Ingredients</u></h3>
<p>
  <% @cocktail.ingredients.each do |i| %>
    <li><%= link_to i.name, ingredient_path(i) %></li>
  <% end %>
</p>

<%= link_to "All Cocktails", cocktails_path %>
<%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail) %>
<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure you want to delete this cocktail?"} %>
